.about-section {
  display: flex;
  flex-wrap: wrap; }
  .about-section section {
    flex: 1 1 280px;
    margin: 0px 20px 0 0; }
    .about-section section h3 {
      color: #183D68;
      font-weight: 500;
      font-size: 24px; }
    .about-section section p {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 1.5; }
    .about-section section b {
      font-weight: 500; }
    .about-section section span {
      margin-left: 8px; }

.about-social-section a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0;
  padding: 12px 0;
  max-width: 280px;
  width: 100%;
  border: 2px solid #183D68;
  border-radius: 2px;
  background: white;
  color: #183D68;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.2s ease-in-out; }
  .about-social-section a:hover {
    background: #183D68;
    color: white;
    cursor: pointer; }
  .about-social-section a i {
    display: block;
    padding: 0 8px 0 22px; }
  .about-social-section a span {
    display: inline-block; }
