$height: 50px;

.nav-bar {
  background: #EBEDED;
  border-bottom: 1px solid #aaa;
  .nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h1 {
      color: #004953;
      text-align: center;
      line-height: $height;
      font-weight: 200;
      font-size: 26px;
    }
    .nav-links {
      display: flex;
      a {
        line-height: $height;
        padding: 0 10px;
        transition: background 0.2s ease-in-out;
        font-weight: 200;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          background: rgba(0,0,0,0.1);
        }
      }

    }
  }
}
