$text-accent: #183D68;

.contact-section {
  padding: 8px 0 48px;
  p {
    margin-bottom: 16px;
    line-height: 1.5;
  }
  .contact-result {
    padding: 8px 0;
  }
  form {
    max-width: 350px;
    font-size: 16px;
    div {
      padding: 8px 0;
      label {
        display: block;
        font-weight: 500;
        font-size: 14px;
      }
      input, textarea {
        padding: 6px;
        width: 100%;
        /*max-width: 300px;*/
        border: 1px solid $text-accent;
        border-radius: 2px;
      }
    }
    button[type="submit"] {
      display: block;
      padding: 8px 32px;
      border: 2px solid $text-accent;
      border-radius: 1px;
      background: white;
      color: $text-accent;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      &:hover {
        background: #f8f8f8;
        color: blue;
        cursor: pointer;
      }
    }
  }
}
