$text-accent: #183D68;
$mobile-break: 650px;

.about-section {
  display: flex;
  flex-wrap: wrap;

  section {
    flex: 1 1 280px;
    margin: 0px 20px 0 0;
    h3 {
      color: $text-accent;
      font-weight: 500;
      font-size: 24px;
    }
    p {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 1.5;
    }
    b {
      font-weight: 500;
    }
    span {
      margin-left: 8px;
    }
  }

}

.about-social-section {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
    padding: 12px 0;
    max-width: 280px;
    width: 100%;
    border: 2px solid $text-accent;
    border-radius: 2px;
    background: white;
    color: $text-accent;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: $text-accent;
      color: white;
      cursor: pointer;
    }
    i {
      display: block;
      padding: 0 8px 0 22px;
    }
    span {
      display: inline-block;
    }
  }
}
