$text-accent: #183D68;

.gs-container {
  margin: auto;
  width: 80%;
}

.gs-section-header {
  h1 {
    margin-bottom: 16px;
    padding: 28px 0px 4px;
    border-bottom: 4px solid $text-accent;
    color: $text-accent;
    font-weight: 500;
    font-size: 28px;
  }
}

.gs-section-header-old {
  background: #316BB0;
  h1 {
    padding: 28px 0px;
    color: white;
    font-weight: 500;
    font-size: 28px;
  }
}
