$text-accent: #183D68;

.site-container {
  margin: 8px auto;
  padding: 0 16px;
  border: 1px solid #ccc;
  background: #fdfdfd;
}

.sites-title {
  padding: 8px 0;
  width: 100%;
  color: $text-accent;
  font-size: 26px;
  font-weight: 500;
}

.sites-images {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  img {
    /*display: inline-block;*/

    width: 48%;
    min-width: 300px;
    margin: 4px auto;
    border: 1px solid #ccc;
    @media(max-width: 450px) {
      flex: 0 0 80%;
      width: 80%;
      min-width: 200px;
    }
  }
}

.sites-info {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  section {
    flex: 1 1 250px;
    margin: 0 20px 16px 0;
    h3 {
      margin-bottom: 2px;
      color: $text-accent;
      font-size: 18px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      line-height: 1.6em;
    }
    b {
      font-weight: 500;
    }
    span {
      margin-left: 8px;
    }
  }
}
