.nav-bar {
  background: #183D68;
  color: white;
  border-bottom: 1px solid #aaa; }
  .nav-bar .nav-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (max-width: 650px) {
      .nav-bar .nav-container {
        justify-content: center; }
        .nav-bar .nav-container h1 {
          flex: 0 1 650px; } }
    .nav-bar .nav-container h1 {
      text-align: center;
      line-height: 50px;
      font-weight: 200;
      font-size: 26px; }
    .nav-bar .nav-container .nav-links {
      display: flex;
      flex-wrap: wrap; }
      @media (max-width: 650px) {
        .nav-bar .nav-container .nav-links {
          justify-content: center; } }
      .nav-bar .nav-container .nav-links a {
        line-height: 50px;
        padding: 0 16px;
        transition: background 0.2s ease-in-out;
        font-weight: 400;
        text-decoration: none; }
        .nav-bar .nav-container .nav-links a:hover {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.1); }
